@charset "UTF-8";

.stabhead{
	text-decoration:underline;
	font-size:110%;
	font-weight:bold;
}
	
.species{
	font-style:italic;
}

.respmenu {
  list-style-type: none;
  margin: 0;
  padding: 15px 0px;
  width: 100%;
  text-align:center;
  background: #ffb06f;
}


.listmv{
	list-style-type: square;
	
}


li a {
  display: block;
  color: white;
  padding: 20px 0px;
  text-decoration: none;
  font-size: 175%;
}

li a .active {
  background-color:  #7fc0eb ;
  color: white;
}

li a:hover:not(.active) {
  background-color: #98d7de;
  color: white;
}

.container{
  width: 100%;
  margin: 0px 0px;
  height: 100%;
}


.logoresoc{
	width:25px;
}

.navmenu-hidden{
	display:none;


}

 .navmenu-visible{
	display:block;
	z-index:99;
	position:fixed;
	width:70%;
	height:100%;
	padding: 0;
	background-color:  #ffb06f;
	color: white;
	position: fixed;
}


#burger-menu{
	width:15%;
	
	position:fixed;
	top:5px;
	right:5px;
}


.right-column{
  background-color: #fff7a1 ;
  display:none;
}

.middle-column{
	padding: 5%;
	background-color:#e5ffdb;
	z-index=1;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reseausociaux {
	margin-left: 10%;
}

h1 {
	font-size: 450%;
	color:#7a4010  ;
	font-family: Century Gothic;
	font-weight: bold;
	margin-top: 10px;
}

h2{
	font-size: 300%;
	color:  #7a4010  ;
	font-family:Goudy Old Style;
	font-weight: bold;
	text-decoration: underline;
	margin-top:40px;
}
h3{
	font-size: 200%;
	font-weight: bold;
	margin-top:25px;
}

p{
	font-size:110%;

	text-align: justify;
}
section{
	margin-top: 80px;
}

.skilltable{
	margin-left:40px;;
}
.skill{
	width:30%;
}
.skill-level{
	padding-left:2vw;
}

td{
	font-size:110%;
	padding-top:7px;
}
.HH4{
	font-size:140%;
	font-weight:bold;
}
.HH5{
	font-size:115%;
	font-weight:bold;
}

a:link.lien{
	font-weight:bold;
	color:blue;
	text-decoration:none;
}
a:visited.lien{
	font-weight:bold;
	color:#9900ff;
	text-decoration:none;
}
.nexttrip{
	margin-left:45px;
	color:  #a2a2a2 ;
}
.imagegauche{
	margin-top:5px;
}

.textimage{
	font-size: 100%;
	font-family:Gabriola;
	font-style: italic;
	margin-top : 1px;
	text-align: center;
	margin-bottom : 0px;
}
.firstimage{
	margin-top : 20px;
}



.lvisible{
	display:none;
}

.moocuniversity{
	font-style:italic;
	text-decoration:underline;
}


h3 .h3title{
	text-decoration: underline;
}

@media screen and (min-width:800px){
.container{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: "left-column middle-column right-column";
  width: 100%;
  margin: 0px 0px;
  height: 100%;
}

.left-column{
	display:block;
  grid-area: left-column;
  padding: 0;
  background-color:  #ffb06f;
  color: white;
  position: fixed;
  width:20%;
  height: 100%;
}
.right-column{
	display:block;
  grid-area: right-column;
  background-color: #f3eeb9 ;
}

.middle-column{
	display:block;
	grid-area: middle-column ;
	padding: 50px 70px;
	background-color:#cdffb9;
}
	
	#burger-menu{
		display:none;
	}
	
	
	.svisible{
		display:none;
	}
	
	.lvisible{
		display:block;
	}
	
	.skill{
	width:200px;
}
	p{
		margin-left:40px;
	}
	h3{
		margin-left: 25px;
	}
	h2{
		
	}
	.listmv{
		
		margin-left:5%;
	}
	
	
}